@font-face {
  src: url("../assets/ttf/poppins.regular.ttf");
  font-family: Poppins;
}

* {
  margin: 0 !important;
  padding: 0 !important;
  color: #fff;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
  border: none;
  overflow: hidden;
}

body {
  width: 650px;
  height: 250px;
}

span {
  display: block;
}

.bg {
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  width: 1000px;
  height: 1000px;
  background-size: cover;
  z-index: -1;
  filter: blur(50px);
}

.container {
  width: 650px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.5);
}

.texts {
  position: absolute;
  top: 50%;
  left: 250px;
  height: 200px;
  transform: translateY(-50%);
  width: calc(650px - 250px - 25px);
}

.texts p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.image {
  background-size: contain;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 200px;
  height: 200px;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user {
  font-size: 18pt;
}

.was-listening-to {
  font-size: 18pt;
  color: #c5c5c5;
}

.title {
  font-size: 25pt;
}

.artist {
  font-size: 18pt;
}

.album {
  font-size: 18pt;
}
